- content_for (:title) do
  = h "<%= singular_name.titleize %>"

%dl
<% for attribute in attributes -%>
  %dt <%= attribute.column.human_name %>:
  %dd=h @<%= singular_name %>.<%= attribute.name %>
<% end -%>

%p
  = link_to 'Edit', edit_object_path
  |
  = link_to 'Back', collection_path
