%dl
<% for attribute in attributes -%>
  %dt <%= attribute.column.human_name %>:
  %dd=h @<%= singular_name %>.<%= attribute.name %>
<% end -%>

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url