<%% content_for (:title) do %>
  <%%= h "Editing <%= singular_name.titleize %>" %>
<%% end %>

<%%= error_messages_for :<%= singular_name %> %>

<%% form_for @<%= singular_name %> do |f| %>
  <%%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%%=submit_tag "Update"%>
  </p>
<%% end %>

<br/>
<p>
  <%%= link_to 'Show', object_path %>
  |
  <%%= link_to 'Back', collection_path %>
</p>
